-
	mail = 'hello@openland.com';
	mailTo = 'mailto:' + mail;

	phone = '415-636-7663';
	phoneTel = 'tel:+14156367663';

	links = {
		home: '/',

		builders: '/',
		owners: '/owners',
		about: '/about',
		privacy: '/privacy',
		terms: '/terms',

		signin: 'https://app.openland.com/signin',
		signup: 'https://app.openland.com/signup',
		app: 'https://app.openland.com/',

		careers: 'https://angel.co/openland/jobs',
	};

	socials = {
		angellist: 'https://angel.co/openland',
		linkedin: 'https://linkedin.com/company/openlandhq/',
		twitter: 'https://twitter.com/OpenlandHQ',
		facebook: 'https://facebook.com/openlandhq/',
	};

mixin head (d)
	head
		meta(charset="utf-8")

		title= d.title
		meta(name="description" content=d.description)

		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
		meta(name="format-detection" content="telephone=no")

		meta(property="og:title" content=d.og.title)
		meta(property="og:url" content=d.og.url)
		meta(property="og:description" content=d.og.description)
		meta(property="og:image" content=d.og.image)

		link(rel="shortcut icon" href="/favicon.ico")
		link(rel="mask-icon" href="/favicons/favicon-safari.svg" color="#522BFF")
		link(rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32.png")
		link(rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96.png")
		link(rel="icon" type="image/png" sizes="128x128" href="/favicons/favicon-128.png")
		link(rel="icon" type="image/png" sizes="192x192" href="/favicons/favicon-192.png")
		link(rel="icon" type="image/png" sizes="196x196" href="/favicons/favicon-196.png")
		link(rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57.png")
		link(rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60.png")
		link(rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72.png")
		link(rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76.png")
		link(rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114.png")
		link(rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120.png")
		link(rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144.png")
		link(rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152.png")
		link(rel="apple-touch-icon" sizes="180" href="/favicons/pple-icon-180.png")
		link(rel="manifest" href="/manifest.json")
		meta(name="msapplication-TileColor" content="#6400FF")
		meta(name="msapplication-TileImage" content="/favicons/ms-icon-144.png")
		meta(name="msapplication-square70x70logo" content="/favicons/ms-icon-square-70.png")
		meta(name="msapplication-square150x150logo" content="/favicons/ms-icon-square-150.png")
		meta(name="msapplication-square310x310logo" content="/favicons/ms-icon-square-310.png")
		meta(name="msapplication-wide310x150logo" content="/favicons/ms-icon-wide-310.png")

		link(rel="stylesheet" type="text/css" href="css/style.css")

		block

mixin header (active)
	header.header&attributes(attributes): .container: .header--in
		a(href=links.home).header--logo: img(src="img/logotype.svg" alt="")
		a(href="#").header--open

		nav.header--nav: ul.header--list
			if (active == 1)
				li.header--item.is-active: span Builders
			else
				li.header--item: a(href=links.builders) Builders

			if (active == 2)
				li.header--item.is-active: span Owners
			else
				li.header--item: a(href=links.owners) Owners

			if (active == 3)
				li.header--item.is-active: span About
			else
				li.header--item: a(href=links.about) About

		.header--btn: a(href=links.signin data-app="true" data-app-label="Go to the app" data-app-url=links.app).btn Sign in
		.header--btn: a(href=phoneTel).btn.is-grey #[i.icon-phone]#{phone}

mixin footer
	footer.footer&attributes(attributes)
		.container: .footer--box
			.footer--col.hidden-xs
				.footer--logo: img(src="img/logotype.svg" alt="")

				a(href=links.careers).footer--hire We are hiring!

				.visible-sm: +footer--socials

			+footer--col ('Solutions', [[links.builders, 'Builders'], [links.owners, 'Owners']])
			+footer--col ('Company', [[links.about, 'About'], [links.careers, 'Careers', true]])
			+footer--col ('Legal', [[links.privacy, 'Privacy Policy'], [links.terms, 'Terms of Service']])
			+footer--col ('Contacts', [[phoneTel, '<i class="icon-phone"></i>' + phone], [mailTo, '<i class="icon-mail"></i>' + mail]])

			.footer--col.hidden-sm: +footer--socials

		.footer--info.hidden-xs &copy; 2018 Data Makes Perfect Inc.#[span Build in San Francisco]

mixin footer--socials
	.footer--socials&attributes(attributes)
		a(href=socials.linkedin target="_blank").footer--social: i.icon-lin
		a(href=socials.facebook target="_blank").footer--social: i.icon-fb
		a(href=socials.twitter target="_blank").footer--social: i.icon-tw
		a(href=socials.angellist target="_blank").footer--social: i.icon-al

mixin signup
	.signup(data-signup="box")&attributes(attributes)
		.signup--variant.is-shown(data-signup="google")
			a(href=links.signup + '?google=true').btn.is-block.is-blue #[i.icon-google]Sign up with Google
			a(href="#" data-signup="toggle" data-variant="mail").signup--link Sign up with Email

		.signup--variant(data-signup="mail")
			form(method="GET" action=links.signup).signup--form
				input(type="text" name="email" placeholder="Email").signup--input
				button(type="submit").signup--submit Sign up

			a(href=links.signup + '?google=true').signup--link Sign up with Google

mixin menu (active)
	.menu&attributes(attributes)
		a(href="#").menu--close

		.menu--in: .container
			ul.menu--list
				if (active == 1)
					li.menu--item.is-active: span Builders
				else
					li.menu--item: a(href=links.builders) Builders

				if (active == 2)
					li.menu--item.is-active: span Owners
				else
					li.menu--item: a(href=links.owners) Owners

				if (active == 3)
					li.menu--item.is-active: span About
				else
					li.menu--item: a(href=links.about) About

				br
				li.menu--item: a(href=links.signin) Sign in

mixin page (meta, active)
	doctype html
	html
		+head (meta)

		body
			.page(data-animate="load")
				+header (active)

				block

				+footer

			+menu (active)

			script(type="text/javascript" src="js/jquery-1.11.1.min.js")

			script(type="text/javascript" src="js/js.cookie.min.js")
			script(type="text/javascript" src="js/jquery.sticky-kit.min.js")

			script(type="text/javascript" src="js/scripts.js")

			+yandex-metrika
			+google-analytics

mixin yandex-metrika
	// Yandex.Metrika counter
	script(type="text/javascript").
		(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter47431468 = new Ya.Metrika2({ id:47431468, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2");

	noscript: div: img(src="https://mc.yandex.ru/watch/47431468" style="position:absolute; left:-9999px;" alt="")
	// /Yandex.Metrika counter

mixin google-analytics
	// Global site tag (gtag.js) - Google Analytics
	script(async src="https://www.googletagmanager.com/gtag/js?id=UA-115370014-1")
	script.
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-115370014-1');

mixin intro--row (features)
	.intro--row&attributes(attributes)
		each feature in features
			.intro--feature= feature

mixin features--item (icon, title, text)
	.features--item&attributes(attributes)
		.features--icon: img(src='/img/' + icon alt="")
		.features--title!= title
		.features--text!= text

mixin footer--col (title, links)
	.footer--col&attributes(attributes)
		.footer--title= title

		ul.footer--links
			each link in links
				if (link[2])
					li: a(href=link[0] target="_blank")!= link[1]
				else
					li: a(href=link[0])!= link[1]

mixin member (photo, name, position, linkedin, mail)
	.member&attributes(attributes)
		.member--photo: img(src=photo alt="")
		.member--name!= name
		.member--position!= position
		.member--links
			a(href=linkedin).member--link: i.icon-lin
			a(href='mailto:' + mail).member--link #[i.icon-mail]#{mail}

mixin position (title, info, link)
	.position&attributes(attributes)
		.position--title!= title
		.position--info!= info
		.position--btn: a(href=link target="_blank").btn.is-smallblue.is-block Apply

mixin content--head (title, date)
	.content--head
		.content--icon&attributes(attributes)

		h1.content--title !{title} @ Openland
		p.content--text Effective Date — !{date}

mixin content--wrap (links)
	.content--wrap&attributes(attributes)
		.content--side: .content--menu: ul
			each link, i in links
				li(class=(i == 0) ? 'is-active' : ''): a(href='#block' + (i + 1)).js-scrollto!= link

		.content--box
			block