- var email = 'hello@openland.com'

- var phone = '+1 415 636 7663'
- var phoneTel = '+14156367663'

- var call = 'https://cal.mixmax.com/yurylifshits/30'
- var signIn = 'https:/app.openland.com/signin'

- var linkedin = '#linkedin'
- var twitter = '#twitter'
- var facebook = '#facebook'

include ./_components.jade

doctype html
html
	head
		meta(charset="utf-8")
		title San Francisco Land Inventory

		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
		meta(name="format-detection" content="telephone=no")

		meta(property="og:title" content="San Francisco Land Inventory")
		meta(property="og:url" content="https://openland.com/")
		meta(property="og:description" content="Explore development capacity of the city, parcel by parcel")
		meta(property="og:image" content="https://openland.com/img/statecraft-land-og.jpg")

		link(rel="shortcut icon" href="favicon.ico")
		link(rel="icon" href="favicon.png")

		link(rel="stylesheet" type="text/css" href="css/style.css")

		script(type="text/javascript" src="js/jquery-1.11.1.min.js")

		script(type="text/javascript" src="js/scripts.js")

	body
		header.header&attributes(attributes): .container: .header--in
			a(href="#").header--logo: img(src="img/logotype.svg" alt="")
			a(href="#").header--open

			nav.header--nav: ul.header--list
				li.header--item.is-active: span Builders
				li.header--item: a(href="#ownersPopup").js-modals-open Owners
				li.header--item: a(href="#citiesPopup").js-modals-open Cities
				li.header--item: a(href="#nonporfitsPopup").js-modals-open Nonprofits

			.header--btn: a(href="#seeDemoPopup").btn.js-modals-open Data access

			a(href=signIn).header--auth Sign in

		.menu
			a(href="#").menu--close

			.menu--in: .container
				ul.menu--list
					li.menu--item.is-active: span Builders
					li.menu--item: a(href="#ownersPopup").js-modals-open Owners
					li.menu--item: a(href="#citiesPopup").js-modals-open Cities
					li.menu--item: a(href="#nonporfitsPopup").js-modals-open Nonprofits

				+form ('Request a demo').is-light

		.page: .container
			.intro
				.intro--title Land acquisition at scale
				.intro--text Accelerate every step of your process
				.intro--form: +form ('Request a demo')
				.intro--illustration
					+intro--row (['Publicly owned land', 'Single story retail', 'Parking lot', 'Backyard', 'Recently-upzoned area'])

					.intro--image: img(src="img/buildings.png" srcset="img/buildings@2x.png 2x" alt="")

			.features
				.features--text Openland is created for #[span ambitious builders] who want to #[span buy more, faster]#[br.hidden-xs] using #[span one integrated system]
				.features--lines #[.features--line]#[.features--line]#[.features--line]#[.features--line]
				.features--grid
					+features--item ('land', 'Land prospecting', ['Parcel search', 'Integrated data sources', 'Target lists', 'Intake forms for brokers'])
					+features--item ('calc', 'Evaluations', ['Capacity analysis', 'Zoning check', 'Neighbourhood review', 'Financial feasibility'])
					+features--item ('arrows', 'Dealflow management', ['Deals by stage', 'Notes', 'Contacts', 'Dashboard and reporting'])
					+features--item ('docs', 'Documents', ['Offers', 'Deal summaries', 'Financing', 'Contracts'])

			.available
				.available--title Data integrations
				.available--in: .available--box #[span US Census]#[span Permit history]#[span Tax assestments]#[span Zoning]#[span Satellite maps]#[span Street view]#[span Transit maps]

			.map
				.map--title Openland in action#[i »]#[span San Francisco Land Inventory]
				.map--text Something related to Openland land acquisition
				.map--wrap
					.map--tabs
						+map--tab (1, 'Tower', '15').is-active
						+map--tab (2, 'Large Multi-Family', '15')
						+map--tab (3, 'Small Multi-Family', '15')
						+map--tab (4, 'Auxiliary Dwelling Units', '15')

						.map--form: +form ('Request access')

					.map--boxes
						.map--box.is-shown
							.map--dot(style="top: 19%; left: 58%") 10
							.map--dot(style="top: 24%; left: 42%") 17
							.map--dot(style="top: 50%; left: 47%") 6
							.map--dot(style="top: 69%; left: 42%") 3
							.map--dot.is-large(style="top: 52%; left: 59%") 24

						.map--box
							.map--dot(style="top: 45%; left: 48%") 10
							.map--dot(style="top: 34%; left: 32%") 17
							.map--dot(style="top: 60%; left: 547%") 6
							.map--dot(style="top: 79%; left: 32%") 3
							.map--dot.is-large(style="top: 72%; left: 69%") 24

						.map--box
							.map--dot(style="top: 19%; left: 58%") 10
							.map--dot(style="top: 24%; left: 42%") 17
							.map--dot(style="top: 50%; left: 47%") 6
							.map--dot(style="top: 69%; left: 42%") 3
							.map--dot.is-large(style="top: 52%; left: 59%") 24

						.map--box
							.map--dot(style="top: 45%; left: 48%") 10
							.map--dot(style="top: 34%; left: 32%") 17
							.map--dot(style="top: 60%; left: 547%") 6
							.map--dot(style="top: 79%; left: 32%") 3
							.map--dot.is-large(style="top: 72%; left: 69%") 24

			.logotypes
				.logotypes--grid
					.logotypes--item: img(src="#" alt="")
					.logotypes--item: img(src="#" alt="")
					.logotypes--item: img(src="#" alt="")
					.logotypes--item: img(src="#" alt="")
					.logotypes--item: img(src="#" alt="")

				.logotypes--labels
					.logotypes--label.is-full Press
					.logotypes--label.is-full Featured customers
					.logotypes--label Investors

		.explore: .container
			.explore--title Accelerate your land acquisition process
			.explore--text Accelerate every step of your process (TBD)
			.explore--form: +form ('Request a demo').is-light

		footer.footer: .container: .footer--in
			.footer--logo: img(src="img/logotype.svg" alt="")

			nav.footer--nav: ul.footer--list
				li.footer--item: a(href='mailto:' + email)= email
				li.footer--item: a(href='tel:' + phoneTel)= phone

			.footer--socials
				a(href=linkedin).footer--social: i.icon-lin
				a(href=twitter).footer--social: i.icon-tw
				a(href=facebook).footer--social: i.icon-fb

		.modals
			.modals--overlay.js-modals-close

			+modal--item ('ownersPopup', 'for owners', 'Openland is created for ambitious builders who want to buy more &amp; build faster. Openland is created&nbsp;for ambitious builders who want to buy', 'Notify me')
			+modal--item ('citiesPopup', 'for owners', 'Openland is created for ambitious builders who want to buy more &amp; build faster. Openland is created&nbsp;for ambitious builders who want to buy', 'Notify me')
			+modal--item ('nonporfitsPopup', 'for owners', 'Openland is created for ambitious builders who want to buy more &amp; build faster. Openland is created&nbsp;for ambitious builders who want to buy', 'Notify me')
			+modal--item ('seeDemoPopup', 'for owners', 'Openland is created for ambitious builders who want to buy more &amp; build faster. Openland is created&nbsp;for ambitious builders who want to buy', 'Notify me')

		// Global site tag (gtag.js) - Google Analytics
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-115370014-1")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-115370014-1');