-
	links = {
		canonical: 'https://openland.com/sfhac',
		sfhac: 'https://www.sfhac.org/',
		sfdata: 'https://datasf.org/',
		openland: 'https://openland.com/',
		export: '#export'
	}

	meta = {
		page: 'sfhac',
		title: 'SFHAC Dashboard | San Francisco Housing in Numbers',
		description: 'Statistics on housing production, building permits, and growth capacity in San Francisco',

		og: {
			title: 'SFHAC Dashboard | San Francisco Housing in Numbers',
			url: links.canonical,
			description: 'Statistics on housing production, building permits, and growth capacity in San Francisco',
			image: 'https://openland.com/img/sfhac/og.png'
		}
	}

	permits = {"data":{"permits":{"edges":[{"node":{"approvalTime":295,"description":"to erect 8 stories, no basement, type 1-a, 200 residential building.   (r-2,a-3,b,s-2,u)** maher: n/a **","existingUnits":null,"id":"201705025458","issuedAt":"2018-02-21","proposedUnits":200,"streetNumbers":[{"streetName":"12th","streetNameSuffix":"St","streetNumber":333,"streetNumberSuffix":null}]}},{"node":{"approvalTime":513,"description":"mod. erect two type 1a buildings, one 9 story mixed use 93 unit residential  building, and a 6 story mixed use 64 unit residential building with day care facilities, building function, offices, and commercial tenant spaces on the ground floor","existingUnits":null,"id":"201609218371","issuedAt":"2018-02-16","proposedUnits":157,"streetNumbers":[{"streetName":"Mission","streetNameSuffix":"St","streetNumber":1950,"streetNumberSuffix":null}]}},{"node":{"approvalTime":428,"description":"to erect 4 stories, no basement, type 1 & 5a, 12 units residential unit with retail & parking.","existingUnits":null,"id":"201611213210","issuedAt":"2018-01-23","proposedUnits":12,"streetNumbers":[{"streetName":"Clement","streetNameSuffix":"St","streetNumber":2224,"streetNumberSuffix":null}]}},{"node":{"approvalTime":660,"description":"\"to erect 7 stories, 2 basement, 44 units residential building.** maher: n/a **\"","existingUnits":null,"id":"201603091627","issuedAt":"2017-12-29","proposedUnits":44,"streetNumbers":[{"streetName":"Powell","streetNameSuffix":"St","streetNumber":770,"streetNumberSuffix":null},{"streetName":"California","streetNameSuffix":"St","streetNumber":875,"streetNumberSuffix":null}]}},{"node":{"approvalTime":1071,"description":"to erect 4-story, no basement, type v-a, 20 units residential building.** maher: compliance with ordinance no# 155-13 not required **","existingUnits":null,"id":"201501236483","issuedAt":"2017-12-29","proposedUnits":20,"streetNumbers":[{"streetName":"Harrison","streetNameSuffix":"St","streetNumber":2600,"streetNumberSuffix":null}]}},{"node":{"approvalTime":1051,"description":"erect 5-story residential building of 16 units, .","existingUnits":null,"id":"201502107867","issuedAt":"2017-12-27","proposedUnits":17,"streetNumbers":[{"streetName":"De Haro","streetNameSuffix":"St","streetNumber":540,"streetNumberSuffix":null}]}},{"node":{"approvalTime":363,"description":"to erect 8 stories, no basement, type ib, 42 residential units with mixed used building.** maher: n/a **","existingUnits":null,"id":"201612225735","issuedAt":"2017-12-20","proposedUnits":42,"streetNumbers":[{"streetName":"Larkin","streetNameSuffix":"St","streetNumber":719,"streetNumberSuffix":null}]}},{"node":{"approvalTime":568,"description":"to erect 8 stories, 0 basement, 40 units residential condos over ground floor commercial & parking.","existingUnits":null,"id":"201605318777","issuedAt":"2017-12-20","proposedUnits":40,"streetNumbers":[{"streetName":"Bush","streetNameSuffix":"St","streetNumber":1433,"streetNumberSuffix":null}]}},{"node":{"approvalTime":675,"description":"to erect 13 stories, 2 basements, type i-a, 470 units residential, hotel, retail building. (r-2,r-1,m)","existingUnits":null,"id":"201602089004","issuedAt":"2017-12-14","proposedUnits":470,"streetNumbers":[{"streetName":"Market","streetNameSuffix":"St","streetNumber":950,"streetNumberSuffix":null}]}},{"node":{"approvalTime":1266,"description":"to erect 14 stories, 2 basement, 303 residential & retail building.(r-2,a-2,b,s-2)","existingUnits":null,"id":"201406128212","issuedAt":"2017-11-29","proposedUnits":303,"streetNumbers":[{"streetName":"Market","streetNameSuffix":"St","streetNumber":1066,"streetNumberSuffix":null}]}},{"node":{"approvalTime":333,"description":"to erect 5 stories, no basement, type ia & va, 55 units affordable multi family apartments. (r-2,s-2)","existingUnits":null,"id":"201612225710","issuedAt":"2017-11-20","proposedUnits":55,"streetNumbers":[{"streetName":"Sunnydale","streetNameSuffix":"Av","streetNumber":1491,"streetNumberSuffix":null}]}},{"node":{"approvalTime":460,"description":"mohcd project erect 9 stories, no basement, type 1-b of 127 dwelling units residential, retail, office & childcare, mix use (r-2, b, e, a-3).  site plan only","existingUnits":null,"id":"201608054294","issuedAt":"2017-11-08","proposedUnits":127,"streetNumbers":[{"streetName":"Folsom","streetNameSuffix":"St","streetNumber":2070,"streetNumberSuffix":null},{"streetName":"Shotwell","streetNameSuffix":"St","streetNumber":255,"streetNumberSuffix":null}]}},{"node":{"approvalTime":628,"description":"to erect 4 stories, 1 basement, type iii-a, 49 units residential apartment building.(r-2)** maher: disturbance of at least 50 cu. yd. of soil. addendum to be routed to dph **.","existingUnits":null,"id":"201602190104","issuedAt":"2017-11-08","proposedUnits":49,"streetNumbers":[{"streetName":"Minna","streetNameSuffix":"St","streetNumber":915,"streetNumberSuffix":null}]}},{"node":{"approvalTime":476,"description":"to erect 6 story, 1 basement, type iii-a / i, 24 units residential with commercial mix use building.","existingUnits":null,"id":"201607142327","issuedAt":"2017-11-02","proposedUnits":24,"streetNumbers":[{"streetName":"Cesar Chavez","streetNameSuffix":"St","streetNumber":3620,"streetNumberSuffix":null}]}},{"node":{"approvalTime":572,"description":"to erect 21 stories, 2 basements, 120 dwelling units with commercial.** maher: disturbance of at least 50 cu. yd. of soil. route to dph **","existingUnits":null,"id":"201604013681","issuedAt":"2017-10-25","proposedUnits":120,"streetNumbers":[{"streetName":"Howard","streetNameSuffix":"St","streetNumber":75,"streetNumberSuffix":null}]}},{"node":{"approvalTime":225,"description":"to erect 9 stories, no basement, type i-a, 104 residential units wtih commercial & garage building.** maher: yes. please route to dph **","existingUnits":null,"id":"201702280331","issuedAt":"2017-10-11","proposedUnits":104,"streetNumbers":[{"streetName":"06th","streetNameSuffix":"St","streetNumber":363,"streetNumberSuffix":null}]}},{"node":{"approvalTime":470,"description":"to erect 16 stories, 2 basement, office building & 39 stories, 2 basement, type ia, 550 residential units building. both buildings are over a shared two level subterranean basement parking garage. (r-2,b,a-3,i-4,s-2)","existingUnits":null,"id":"201606200387","issuedAt":"2017-10-03","proposedUnits":550,"streetNumbers":[{"streetName":"Mission","streetNameSuffix":"St","streetNumber":1500,"streetNumberSuffix":null},{"streetName":"South Van Ness","streetNameSuffix":"Av","streetNumber":49,"streetNumberSuffix":null}]}},{"node":{"approvalTime":547,"description":"aka address 898 la salle ave. phrase 1b, building a. to erect 4 story, 1 basement, type va, 16 units residential building.** maher: n/a **","existingUnits":null,"id":"201603141951","issuedAt":"2017-09-12","proposedUnits":16,"streetNumbers":[{"streetName":"Earl","streetNameSuffix":"St","streetNumber":1,"streetNumberSuffix":null}]}},{"node":{"approvalTime":547,"description":"aka address; 888 la salle ave. to erect 4 story, 1 basement, type ia / va, 34 units residential building.** maher: n/a **","existingUnits":null,"id":"201603141960","issuedAt":"2017-09-12","proposedUnits":34,"streetNumbers":[{"streetName":"Earl","streetNameSuffix":"St","streetNumber":1,"streetNumberSuffix":null}]}},{"node":{"approvalTime":120,"description":"to erect 7 stories, no basement, type iii-a / i-a,  172 unit residential with retail and parking. (r-2,m,b,a-3,s-2)","existingUnits":null,"id":"201705025455","issuedAt":"2017-08-30","proposedUnits":172,"streetNumbers":[{"streetName":"16th","streetNameSuffix":"St","streetNumber":1301,"streetNumberSuffix":null}]}},{"node":{"approvalTime":1398,"description":"erect 7 stories,17 dwelling unit,mix use,type 1 .","existingUnits":null,"id":"201310038419","issuedAt":"2017-08-01","proposedUnits":17,"streetNumbers":[{"streetName":"Mission","streetNameSuffix":"St","streetNumber":1801,"streetNumberSuffix":null}]}},{"node":{"approvalTime":460,"description":"to erect 4 stories, 1 basement, type v-a, 40 residential unit building (r-2,s-2).** maher: disturbance of at least 50 cu.yd of soil; route to dph **","existingUnits":null,"id":"201604285990","issuedAt":"2017-08-01","proposedUnits":40,"streetNumbers":[{"streetName":"Tennessee","streetNameSuffix":"St","streetNumber":901,"streetNumberSuffix":null}]}},{"node":{"approvalTime":368,"description":"to erect 7 stories, 1 basement, type i-b, 136 residential units and commercial building (r-2,m,s-2). maher exempted.","existingUnits":null,"id":"201607253262","issuedAt":"2017-07-28","proposedUnits":136,"streetNumbers":[{"streetName":"Harrison","streetNameSuffix":"St","streetNumber":1532,"streetNumberSuffix":null}]}},{"node":{"approvalTime":1130,"description":"erect 6-story, no basemeny, type 3a over 1a, 194 dwelling units residential/retail building (r-2, m, b, s-2). comply maher ord #155-13.","existingUnits":null,"id":"201406239109","issuedAt":"2017-07-27","proposedUnits":194,"streetNumbers":[{"streetName":"Bryant","streetNameSuffix":"St","streetNumber":2028,"streetNumberSuffix":null},{"streetName":"Bryant","streetNameSuffix":"St","streetNumber":2000,"streetNumberSuffix":null},{"streetName":"Bryant","streetNameSuffix":"St","streetNumber":2070,"streetNumberSuffix":null}]}},{"node":{"approvalTime":782,"description":"to erect 5 stories, no basement, type va over 1a, 16 units residential units.","existingUnits":null,"id":"201505297549","issuedAt":"2017-07-19","proposedUnits":16,"streetNumbers":[{"streetName":"07th","streetNameSuffix":"St","streetNumber":502,"streetNumberSuffix":null}]}},{"node":{"approvalTime":614,"description":"to erect 60 stories, 4 basement, type ia, 109 units residential, office, retail building.","existingUnits":null,"id":"201510301303","issuedAt":"2017-07-05","proposedUnits":109,"streetNumbers":[{"streetName":"01st","streetNameSuffix":"St","streetNumber":50,"streetNumberSuffix":null}]}},{"node":{"approvalTime":175,"description":"construct (n)(5)story 119 dwelling multifamily affordable housing units, offices, garage & community room","existingUnits":null,"id":"201612215523","issuedAt":"2017-06-14","proposedUnits":119,"streetNumbers":[{"streetName":"03rd","streetNameSuffix":"St","streetNumber":1150,"streetNumberSuffix":null}]}},{"node":{"approvalTime":1448,"description":"to erect 7 stories,1 basement, type ib, 109 units residential, retail, parking building.","existingUnits":null,"id":"201306210213","issuedAt":"2017-06-08","proposedUnits":109,"streetNumbers":[{"streetName":"03rd","streetNameSuffix":"St","streetNumber":2171,"streetNumberSuffix":null}]}},{"node":{"approvalTime":285,"description":"mayor's office housing project. to erect 9 stories, no basement, type 1a,  94 units residential senior apartment.","existingUnits":null,"id":"201608195545","issuedAt":"2017-05-31","proposedUnits":94,"streetNumbers":[{"streetName":"Shotwell","streetNameSuffix":"St","streetNumber":1294,"streetNumberSuffix":null}]}},{"node":{"approvalTime":521,"description":"to erect 8 stories, 1 basement, 256 residnetial, industrial building. (r-2,a-3,f-1,s-2)** maher: n/a **","existingUnits":null,"id":"201512145054","issuedAt":"2017-05-18","proposedUnits":256,"streetNumbers":[{"streetName":"Pennsylvania","streetNameSuffix":"Av","streetNumber":800,"streetNumberSuffix":null},{"streetName":"22nd","streetNameSuffix":"St","streetNumber":1395,"streetNumberSuffix":null}]}},{"node":{"approvalTime":445,"description":"phase ii-a building b. erect 4 stories of 44 residential units","existingUnits":null,"id":"201602129567","issuedAt":"2017-05-02","proposedUnits":44,"streetNumbers":[{"streetName":"La Salle","streetNameSuffix":"Av","streetNumber":899,"streetNumberSuffix":null}]}},{"node":{"approvalTime":653,"description":"to erect 5 stories, 2 basements, 59 units residential & parking.","existingUnits":null,"id":"201507141485","issuedAt":"2017-04-27","proposedUnits":59,"streetNumbers":[{"streetName":"Tennessee","streetNameSuffix":"St","streetNumber":777,"streetNumberSuffix":null}]}},{"node":{"approvalTime":435,"description":"phase 2a, building# m. to erect 4 stories, 1 basement, 40 units residential building.  type v-a over type i-a.** maher: n/a **","existingUnits":null,"id":"201602179819","issuedAt":"2017-04-27","proposedUnits":40,"streetNumbers":[{"streetName":"La Salle","streetNameSuffix":"Av","streetNumber":869,"streetNumberSuffix":null}]}},{"node":{"approvalTime":435,"description":"phase 2a, building# f. to erect 4 stories, 1 basement, 40 units residential building.** maher: n/a **","existingUnits":null,"id":"201602179815","issuedAt":"2017-04-27","proposedUnits":40,"streetNumbers":[{"streetName":"La Salle","streetNameSuffix":"Av","streetNumber":889,"streetNumberSuffix":null}]}},{"node":{"approvalTime":435,"description":"phase 2a, building# j. to erect 4 stories, 1 basement, type va over ia, 40 units residential building with car stackers, 1500 gpm fire pump** maher: n/a **","existingUnits":null,"id":"201602179818","issuedAt":"2017-04-27","proposedUnits":40,"streetNumbers":[{"streetName":"La Salle","streetNameSuffix":"Av","streetNumber":879,"streetNumberSuffix":null}]}},{"node":{"approvalTime":413,"description":"to erect 9-story, 102 dwelling units apartment, parking, retail, mix use building. n/a for maher ordinance no.155-13.","existingUnits":null,"id":"201602179763","issuedAt":"2017-04-05","proposedUnits":102,"streetNumbers":[{"streetName":"06th","streetNameSuffix":"St","streetNumber":345,"streetNumberSuffix":null}]}},{"node":{"approvalTime":1002,"description":"to erect 6 stories, no basement, 53 dwelling units (sro) residential building include ground floor level commercial. maher compliance with ordinance 155-13 required. interim controls.","existingUnits":null,"id":"201406269542","issuedAt":"2017-03-24","proposedUnits":53,"streetNumbers":[{"streetName":"Folsom","streetNameSuffix":"St","streetNumber":1335,"streetNumberSuffix":null}]}},{"node":{"approvalTime":321,"description":"to erect 26 stories, 3 basement, 118 residential units with mix use type 1 construction.","existingUnits":null,"id":"201605046495","issuedAt":"2017-03-21","proposedUnits":118,"streetNumbers":[{"streetName":"Fremont","streetNameSuffix":"St","streetNumber":325,"streetNumberSuffix":null}]}},{"node":{"approvalTime":196,"description":"to erect 3 stories, no basement, type vb, 31 units apartments with parking.** maher: n/a **","existingUnits":null,"id":"201608296272","issuedAt":"2017-03-13","proposedUnits":31,"streetNumbers":[{"streetName":"Arelious Walker","streetNameSuffix":"Dr","streetNumber":2800,"streetNumberSuffix":null}]}},{"node":{"approvalTime":356,"description":"erect 9 story, type 1, zero basement, 113 dwelling unit and retail building.","existingUnits":null,"id":"201602179822","issuedAt":"2017-02-07","proposedUnits":113,"streetNumbers":[{"streetName":"Taylor","streetNameSuffix":"St","streetNumber":238,"streetNumberSuffix":null},{"streetName":"Taylor","streetNameSuffix":"St","streetNumber":210,"streetNumberSuffix":null}]}},{"node":{"approvalTime":460,"description":"construct (n) hotel/residential building","existingUnits":null,"id":"201510301302","issuedAt":"2017-02-01","proposedUnits":156,"streetNumbers":[{"streetName":"Mission","streetNameSuffix":"St","streetNumber":526,"streetNumberSuffix":null}]}},{"node":{"approvalTime":539,"description":"to erect 5 stories, type va over i, no basement, 20 units residential building.  future address of 601 tennessee. maher compliance required.","existingUnits":null,"id":"201508063607","issuedAt":"2017-01-26","proposedUnits":20,"streetNumbers":[{"streetName":"Mariposa","streetNameSuffix":"St","streetNumber":595,"streetNumberSuffix":null}]}},{"node":{"approvalTime":199,"description":"to erect 4 stories, type va, 30 units student housing with mixed use building.** maher: n/a **","existingUnits":null,"id":"201606281077","issuedAt":"2017-01-13","proposedUnits":30,"streetNumbers":[{"streetName":"Arkansas","streetNameSuffix":"St","streetNumber":75,"streetNumberSuffix":null}]}},{"node":{"approvalTime":322,"description":"to erect 4 stories of 13 dwelling units, with roof deck","existingUnits":null,"id":"201602129550","issuedAt":"2016-12-30","proposedUnits":13,"streetNumbers":[{"streetName":"Bay","streetNameSuffix":"St","streetNumber":400,"streetNumberSuffix":null}]}},{"node":{"approvalTime":919,"description":"to erect 40 stories, 2 basements, 390 units residential & retail building.","existingUnits":null,"id":"201406259481","issuedAt":"2016-12-30","proposedUnits":390,"streetNumbers":[{"streetName":"Folsom","streetNameSuffix":"St","streetNumber":160,"streetNumberSuffix":null}]}},{"node":{"approvalTime":163,"description":"to erect 7 stories, no basement, 60 units residential with mix use type 1 construction.","existingUnits":null,"id":"201607192730","issuedAt":"2016-12-29","proposedUnits":60,"streetNumbers":[{"streetName":"Market","streetNameSuffix":"St","streetNumber":2100,"streetNumberSuffix":null}]}},{"node":{"approvalTime":937,"description":"erect 6-story, no basement, type 1, 15 dwelling units building. compliance w/ ordinance no. 155-13 not required.","existingUnits":null,"id":"201405307085","issuedAt":"2016-12-22","proposedUnits":15,"streetNumbers":[{"streetName":"Howard","streetNameSuffix":"St","streetNumber":1532,"streetNumberSuffix":null}]}},{"node":{"approvalTime":920,"description":"to erect 9 stories, 1 basement, type ib, 160 residential, commercial & below grade parking building.","existingUnits":null,"id":"201406108024","issuedAt":"2016-12-16","proposedUnits":160,"streetNumbers":[{"streetName":"Market","streetNameSuffix":"St","streetNumber":1699,"streetNumberSuffix":null}]}},{"node":{"approvalTime":201,"description":"erect 11-story hi-rise, type 1-b, 230 rooms r-1 (with a-2, a-3, b, m, u & s accessory occupancies), 1 basement, with a roof terrace and ground floor retail building.","existingUnits":null,"id":"201605127267","issuedAt":"2016-11-29","proposedUnits":230,"streetNumbers":[{"streetName":"03rd","streetNameSuffix":"St","streetNumber":701,"streetNumberSuffix":null}]}},{"node":{"approvalTime":251,"description":"to erect 5 stories, 2 basement, residential care for the elderly building.","existingUnits":null,"id":"201603152080","issuedAt":"2016-11-21","proposedUnits":198,"streetNumbers":[{"streetName":"Silver","streetNameSuffix":"Av","streetNumber":302,"streetNumberSuffix":null}]}}]}}}

include ./_components.jade

mixin card (title, text, link)
	.card&attributes(attributes)
		.card--title!= title
		.card--text
			each p in text
				p!= p

		.card--link ...#[a(href=link) show more]

mixin table--row (pageID, address, permitID, units, issued, approvalTime)
	.table--row(data-page=pageID)&attributes(attributes)
		.table--td!= address
		.table--td!= permitID
		.table--td!= units
		.table--td!= issued
		.table--td!= approvalTime
		.table--td: a(href='https://dbiweb.sfgov.org/dbipts/default.aspx?page=Permit&PermitNumber=' + permitID) Link

mixin box--foot
	.box--foot
		svg(viewBox="0 0 10 13" width="10" height="13")
			path(d="M7.4,3.4H10L6.8,0v2.9C6.8,3.2,7.1,3.4,7.4,3.4z")
			path(d="M7.4,3.9c-0.6,0-1.1-0.4-1.1-1V0H1.1C0.5,0,0,0.4,0,1V12c0,0.5,0.5,1,1.1,1h4.2h2.6h1.1c0.6,0,1.1-0.4,1.1-1 V3.9H7.4z")

		block

doctype html
html
	+head (meta)
		link(href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css" rel="stylesheet")

	body
		.page: .container
			header.header
				.header--logo
				.header--box
					.header--title SFHAC Dashboard
					.header--text San Francisco Housing in Numbers

					a(href=links.sfhac).header--sfhac

			.page--in
				.page--side: .page--sticky
					.intro
						.intro--logo
						.intro--box
							.intro--title SFHAC Dashboard
							.intro--text San Francisco Housing in Numbers

					.box: nav.nav: ul.nav--list
						li.is-active: a(href="#" data-box-nav="1") Housing forecast
						li: a(href="#" data-box-nav="2") Growth capacity
						li: a(href="#" data-box-nav="3") Building permits
						li: a(href="#" data-box-nav="4") Voter guide

					.box: .share
						span.share--label Share
						a(href='https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(links.canonical) target="_blank").share--item.is-fb: svg(viewBox="0 0 20 20" width="20" height="20"): path(d="M18.9,0H1.1C0.5,0,0,0.5,0,1.1v17.8C0,19.5,0.5,20,1.1,20h17.8l0,0c0.6,0,1.1-0.5,1.1-1.1V1.1 C20,0.5,19.5,0,18.9,0z M16.9,5.8h-1.6c-1.3,0-1.5,0.6-1.5,1.5v1.9h3l-0.4,3h-2.6V20h-3.1v-7.7H8.1v-3h2.6V7c0-2.6,1.6-4,3.9-4 c0.8,0,1.6,0,2.3,0.1V5.8z")
						a(href='https://twitter.com/intent/tweet?via=OpenlandHQ&text=' + encodeURIComponent('SFHAC Dashboard | San Francisco Housing in Numbers\r\n' + links.canonical) target="_blank").share--item.is-tw: svg(viewBox="0 0 21 18" width="21" height="18"): path(d="M21,2.1L21,2.1L21,2.1L21,2.1L21,2.1l-0.1,0l0,0l-0.1,0l-0.5,0.2c-0.3,0.1-0.7,0.2-1,0.3l-0.5,0.1h-0.1l0,0l0,0 l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0.1-0.1c0.1,0,0.1-0.1,0.2-0.1c0-0.1,0.1-0.1,0.3-0.3 c0.2-0.2,0.3-0.3,0.5-0.5C19.9,1.5,20,1.2,20.2,1c0.1-0.1,0.1-0.3,0.2-0.4c0,0,0-0.1,0-0.1l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0 l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l-0.1,0.1c-0.2,0.1-0.3,0.2-0.5,0.3c-0.3,0.1-0.6,0.3-0.8,0.4c-0.3,0.1-0.5,0.2-0.8,0.2 c-0.2,0.1-0.4,0-0.5-0.1c-0.1-0.1-0.2-0.2-0.4-0.3c-0.1-0.1-0.3-0.2-0.5-0.3c-0.2-0.1-0.4-0.2-0.6-0.3c-0.2-0.1-0.4-0.1-0.7-0.2 L15,0h-1v0c0,0-0.1,0-0.2,0c-0.2,0-0.4,0.1-0.6,0.2c-0.3,0.1-0.5,0.2-0.8,0.4c-0.5,0.3-1,0.7-1.3,1.2C11,2,10.8,2.2,10.8,2.3 c-0.1,0.2-0.2,0.4-0.3,0.6c-0.1,0.3-0.2,0.5-0.2,0.8c0,0.3-0.1,0.5-0.1,0.8c0,0.2,0,0.5,0,0.7l0,0.2l0,0l0,0l-0.1,0 c-0.1,0-0.3,0-0.5,0c-0.2,0-0.6-0.1-1.1-0.2c-0.5-0.1-0.8-0.2-1-0.2C7.4,5,7.1,4.9,6.6,4.7C6.1,4.5,5.7,4.3,5.2,4.1 C4.8,3.8,4.4,3.6,4.1,3.3C3.7,3.1,3.5,2.9,3.2,2.7C3,2.5,2.9,2.4,2.9,2.3c0,0-0.1-0.1-0.1-0.1c0,0-0.2-0.1-0.4-0.4 C2.1,1.6,1.9,1.4,1.8,1.2L1.5,0.9l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0L1.2,1.3 C1.1,1.5,1.1,1.8,1,2C0.9,2.2,0.9,2.4,0.9,2.6c0,0.2,0,0.4,0,0.6c0,0.5,0.1,1,0.3,1.5C1.3,5,1.4,5.2,1.5,5.4 c0.1,0.2,0.2,0.3,0.3,0.5C1.9,6,2,6.2,2.1,6.3c0.1,0.2,0.3,0.3,0.5,0.5l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0 l0,0l0,0l0,0H2.6l-0.1,0c-0.1,0-0.2,0-0.5-0.1C1.7,6.7,1.4,6.6,1.2,6.5L0.9,6.4l0,0l0,0l0,0l0,0l0,0l0,0l0,0.4C0.9,7,0.9,7.3,1,7.6 c0.1,0.3,0.2,0.6,0.3,0.9C1.4,8.7,1.6,9,1.8,9.2c0.2,0.2,0.3,0.4,0.5,0.6c0.1,0.1,0.3,0.3,0.5,0.4c0.2,0.1,0.4,0.3,0.7,0.4 c0.2,0.1,0.3,0.2,0.5,0.2c0,0,0.1,0,0.1,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0c0,0-0.1,0-0.2,0c-0.2,0-0.4,0-0.6,0 c-0.3,0-0.5,0-0.7,0l-0.2,0l0,0l0,0l0,0l0,0l0,0l0,0l0.2,0.4c0.1,0.2,0.2,0.4,0.3,0.6c0.1,0.2,0.3,0.4,0.4,0.5 c0.1,0.1,0.2,0.3,0.4,0.4c0.1,0.1,0.3,0.3,0.5,0.4c0.2,0.1,0.4,0.3,0.7,0.4C5,13.8,5.2,13.9,5.4,14C5.6,14,5.7,14,5.9,14 c0.1,0,0.2,0,0.3,0l0.2,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l-0.4,0.3c-0.3,0.2-0.5,0.3-0.6,0.4 C5,15,4.8,15.1,4.4,15.3c-0.4,0.2-0.7,0.3-1.1,0.4C2.4,15.9,1.5,16,0.6,16c-0.3,0-0.4,0-0.5,0L0,16l0,0l0,0v0h0l0,0l0,0l0,0l0,0l0,0 l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0.2,0.1c0.1,0.1,0.2,0.1,0.3,0.2c0.1,0,0.3,0.2,0.7,0.4c0.4,0.2,0.9,0.4,1.3,0.6 c0.4,0.1,0.8,0.3,1.2,0.4c0.3,0.1,0.6,0.1,1.1,0.2c0.3,0,0.5,0.1,0.8,0.1c0.1,0,0.2,0,0.3,0L6,18v0h1.2v0l0.7-0.1 c0.4,0,0.8-0.1,1.2-0.2c0.4-0.1,0.7-0.2,1.1-0.3c0.4-0.1,0.7-0.3,1.1-0.4c0.3-0.1,0.7-0.3,1-0.5c0.3-0.2,0.5-0.3,0.8-0.4 c0.2-0.1,0.5-0.3,0.7-0.5c0.2-0.2,0.5-0.4,0.7-0.6c0.2-0.2,0.3-0.3,0.4-0.3l0.5-0.5c0.3-0.3,0.5-0.6,0.7-0.9 c1.1-1.4,1.9-3.1,2.4-4.9c0.1-0.5,0.3-1,0.3-1.5c0.1-0.4,0.1-0.8,0.1-1.2c0-0.4,0-0.7,0-1c0-0.3,0.1-0.6,0.4-0.8 c0.3-0.2,0.5-0.4,0.7-0.7c0.2-0.3,0.4-0.4,0.4-0.4c0,0,0-0.1,0.1-0.1c0,0,0.1-0.1,0.3-0.3l0.2-0.3l0,0l0,0L21,2.1L21,2.1L21,2.1 L21,2.1L21,2.1L21,2.1L21,2.1L21,2.1L21,2.1L21,2.1L21,2.1L21,2.1L21,2.1L21,2.1L21,2.1z")
						a(href='mailto:?&subject=' + encodeURIComponent('SFHAC Dashboard') + '&body=' + encodeURIComponent('SFHAC Dashboard | San Francisco Housing in Numbers\r\n' + links.canonical)).share--item.is-em: svg(viewBox="0 0 19 19" width="19" height="19"): path(d="M9.8,0C4,0,0,3.9,0,9.5C0,15.3,4.1,19,10,19c1.1,0,2.2-0.1,3-0.3v-2c-0.6,0.2-1.7,0.3-2.7,0.3 c-4.8,0-7.8-2.8-7.8-7.4c0-4.5,3-7.6,7.4-7.6c4.2,0,6.9,2.6,6.9,6.8c0,2.2-0.7,3.5-1.6,3.5c-0.6,0-1-0.5-1-1.3V5.2h-2.6v1.3h-0.2 c-0.5-1-1.4-1.6-2.7-1.6c-2.2,0-3.8,1.9-3.8,4.6c0,2.9,1.6,4.8,3.9,4.8c1.3,0,2.2-0.6,2.7-1.7h0.2c0.3,1.1,1.4,1.7,2.8,1.7 c2.8,0,4.6-2.2,4.6-5.8C19,3.4,15.2,0,9.8,0z M9.4,12c-1,0-1.7-0.9-1.7-2.4c0-1.5,0.6-2.4,1.7-2.4s1.7,0.9,1.7,2.4 C11.1,11.1,10.5,12,9.4,12z")

					footer.footer
						a(href=links.sfhac).footer--link SFHAC.org

						.footer--label Data from #[a(href=links.sfdata) SF Data]
						.footer--label Powered by #[a(href=links.openland) Openland]

				.page--box
					.box(data-box="1")
						.box--intro
							.box--title Housing forecast
							.box--subtitle Projected completions are below target
							.box--text Based on&nbsp;the current data, San Francisco housing production in&nbsp;2017-2018 will represent a&nbsp;nearly&nbsp;50% drop from record-high 2016 level of&nbsp;5000+&nbsp;units.

						.counters
							.counter 2017 net new units#[span 3123]
							.counter 2018 net new units#[span 2812]
							.counter Mayor’s annual target#[span 5000]

						+box--foot Source — #[a(href="https://statecraft.one/sf") Housing Completions Report by Statecraft, Fall 2017]

					.box(data-box="2")
						.box--intro
							.box--title Growth capacity
							.box--subtitle Underdeveloped sites in&nbsp;San Francisco

						.map
							.map--legend
								label.map--item.is-towers
									input(type="checkbox" name="towers" checked)

									.map--item-l Tower opportunities#[span 0-2 stories in 90+ feet height limit]

								label.map--item.is-parking
									input(type="checkbox" name="parking" checked)

									.map--item-l Large parking lots#[span 25,000+ ft#[sup 2]]

								label.map--item.is-commercial
									input(type="checkbox" name="commercial" checked)

									.map--item-l Commercial corridors#[span Single story buildings in NC-3 zoning]

							.map--box#map

						+box--foot Sources — #[a(href="https://data.sfgov.org/Housing-and-Buildings/-Known-Issue-Assessor-Historical-Secured-Property-/wv5m-vpq2") San Francisco Tax Records (SF Data)], #[a(href="https://data.sfgov.org/City-Infrastructure/Parcels-With-Planning-Department-Zoning/6b2n-v87s") Parcel Database (SF Data)], and #[a(href="http://sf-planning.org/zoning-map-heightbulk-districts") Height Limits (SF Planning)]

					.box(data-box="3")
						.box--intro
							.box--title Building permits
							.box--subtitle Issued permits#[span total number of units approved by SF DBI]
							.box--text The last four years demonstrate a&nbsp;stable level of ~4000 housing units permitted per year. That gives little hope for meeting mayor&rsquo;s annual target of&nbsp;5000 units in&nbsp;near future.

						.graph: .graph--in: canvas
						.box--intro
							.box--subtitle Permit applications#[span total number of units applied for]
							.box--text New permit applications set record in&nbsp;2016. Year-to-year variation is&nbsp;high and the 2017 year saw significantly reduced volume of&nbsp;applications. To&nbsp;meet mayor&rsquo;s goal in&nbsp;housing production, permit filings volume needs to&nbsp;stay high consistently for several years.

						.graph: .graph--in: canvas
						.box--intro
							.box--subtitle Recent permits
							.box--text The latest issued permits for new construction projects with 10+&nbsp;units

						.table
							.table--export: a(href=links.export).btn Export list
							.table--head
								.table--th Address
								.table--th Permit ID
								.table--th Units
								.table--th Issued
								.table--th Permit approval time
								.table--th SF DBI

							.table--body
								each p, i in permits.data.permits.edges
									- o = p.node
									- a = o.streetNumbers[0]
									- d = new Date(o.issuedAt)
									-
										function returnMonth (monthID) {
											months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

											return months[monthID];
										}

										function returnApproval (days) {
											if (days < 0) {
												return 'unknown';
											} else if (days <= 1) {
												return days + ' day';
											} else if (days < 30) {
												return days + ' days';
											} else if (days < 360) {
												var months = Math.ceil(days / 30);

												return months + ((months <= 1) ? ' month' : ' months');
											} else {
												var years = Math.ceil(days / 360);

												return years + ((years <= 1) ? ' year' : ' years');
											}
										}

										pageID = parseInt(i / 10) + 1
										address = (a.streetNumber || '') + ' ' + (a.streetNumberSuffix || '') + ' ' + (a.streetName || '') + ' ' + (a.streetNameSuffix || '')
										permitID = o.id
										units = o.proposedUnits
										issued = d.getDate() + ' ' + returnMonth(d.getMonth()) + ' ' + d.getFullYear()
										approvalTime = returnApproval(o.approvalTime)

									+table--row (pageID, address, permitID, units, issued, approvalTime)

							.table--tools
								.table--counter #{permits.data.permits.edges.length} items
								.table--arrows
									a(href="#").table--arrow.is-prev.is-disabled Previous
									a(href="#").table--arrow.is-next Next

						+box--foot Source — #[a(href="https://data.sfgov.org/Housing-and-Buildings/Building-Permits/i98e-djp9/data") SF DBI Permit Database]

					.box(data-box="4")
						.box--intro
							.box--title Voter guide
							.box--subtitle SFHAC recommendations for upcoming ballot measures.

						.cards
							.cards--col
								+card ('State Prop 69', ['This measure would require that revenue from the diesel sales tax and Transportation Improvement Fee, as&nbsp;enacted by&nbsp;Senate Bill&nbsp;1 (SB&nbsp;1), be&nbsp;used for transportation-related purposes; and exempt revenue generated by&nbsp;SB&nbsp;1&rsquo;s tax increases and fee schedules from the state appropriations limit. Investing in&nbsp;our transit infrastructure is&nbsp;critical and was the original intent of&nbsp;Senate Bill&nbsp;1.'], '#').is-yes
								+card ('Local Proposition D', ['Commercial Rent Tax for Housing and Homelessness. This measure would impose a&nbsp;tax on&nbsp;individuals and businesses that receive income from the lease or&nbsp;sublease of&nbsp;commercial space, primarily offices. The measure exempts certain spaces, including non-profits used for production, distribution and repair (including industrial, warehouse and similar uses), retail sales and services (including chain stores) and entertainment, arts and recreation.', 'There are two commercial rent taxes on&nbsp;the ballot this election, Proposition C&nbsp;and D.&nbsp;Only one of&nbsp;them will take effect, the one with more votes. However, Proposition C&nbsp;requires a&nbsp;simple majority to&nbsp;pass and Proposition D&nbsp;requires two-thirds of&nbsp;the vote to&nbsp;pass. Therefore, Proposition C&nbsp;could win with fewer votes than Proposition D. Because our mission is&nbsp;to&nbsp;support more housing, we&rsquo;re only taking a&nbsp;position on&nbsp;Proposition&nbsp;D.', 'Please note that HAC is&nbsp;bothered that City Hall has pitted child care vs&nbsp;affordable housing. San Francisco needs both. It&nbsp;is&nbsp;shameful that the progressives and moderates chose to&nbsp;use the need for child care and affordable housing as&nbsp;a&nbsp;political football instead of&nbsp;working together to&nbsp;figure out a&nbsp;reasonable funding solutions for both.'], '#').is-yes

							.cards--col
								+card ('Regional Measure 3', ['Increases tolls on&nbsp;the Bay Area&rsquo;s seven state-owned bridges, excluding the Golden Gate Bridge, by&nbsp;$1&nbsp;in&nbsp;2019, $1&nbsp;in&nbsp;2022 and $1&nbsp;in&nbsp;2025 to&nbsp;fund regional transportation capital investments. The investments made with the increased revenue would include: $500 million to&nbsp;expand BART&rsquo;s fleet; $375 million to&nbsp;expand BART to&nbsp;Silicon Valley; $325 million to&nbsp;bring high-speed rail to&nbsp;the Transbay Transit Center in&nbsp;San Francisco; $300 million to&nbsp;expand ferry service; and $50 million to&nbsp;implement a&nbsp;new Clipper-based fare system. In&nbsp;addition, the expenditure plan includes up&nbsp;to&nbsp;$60 million annually to&nbsp;support transit operations, including $35 million for ferry service; $20 million for regional express bus service; and $5&nbsp;million for Transbay Transit Center operations.'], '#').is-yes
								+card ('Prop F', ['Legal Representation for Tenants. This measure would require the City of&nbsp;San Francisco to&nbsp;create a&nbsp;program to&nbsp;provide free legal representation for all San Francisco residential tenants facing eviction. Through this new program, tenants would be&nbsp;entitled to&nbsp;full scope legal representation&nbsp;&mdash; including appearing on&nbsp;behalf of&nbsp;the tenant in&nbsp;court proceedings and representing the tenant throughout the case&nbsp;&mdash; within 30&nbsp;days of&nbsp;receiving an&nbsp;eviction notice or&nbsp;being served with an&nbsp;eviction lawsuit. Providing an&nbsp;attorney for all tenants, and making sure tenants are aware of&nbsp;their rights, is&nbsp;critical.'], '#').is-yes

						+box--foot

					.box: .feedback
						.feedback--title Stay in&nbsp;touch for new stats from SFHAC

						form(method="POST" action="").feedback--form
							input(type="text" placeholder="Email").feedback--input
							button(type="submit").feedback--btn Subscribe

		script(type="text/javascript" src="js/jquery-1.11.1.min.js")

		script(type="text/javascript" src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js")
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js")

		script(type="text/javascript" src="js/sfhac.js")